# Disable loading of google fonts and other external font sources
# via https://chiroiu.com/blog/completely-block-google-fonts-via-htaccess/
<IfModule mod_headers.c>
Header add Content-Security-Policy "font-src 'self';"
Header add X-Content-Security-Policy "font-src 'self';"
Header add X-Webkit-CSP "font-src 'self';"
</IfModule>


# Get rid of extensions .html and .php on web addresses
<IfModule mod_rewrite.c>
    RewriteEngine on 
    RewriteCond %{REQUEST_FILENAME} !-d 
    RewriteCond %{REQUEST_FILENAME}.php -f 
    RewriteRule ^(.*)$ $1.php 
    RewriteRule ^([a-z]+)\/?$ $1.php [NC]  

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.html -f
    RewriteRule ^(.*)$ $1.html [NC]
 </IfModule>